 .u-section-1 {
  min-height: 220px;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 228px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 38px auto 0 265px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 245px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 188px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 141px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 41px;
    margin-left: 65px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1002px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 586px);
  background-image: none;
  left: 0;
  right: auto;
}

.u-section-2 .u-shape-2 {
  width: 637px;
  height: 156px;
  margin: 922px calc(((100% - 1140px) / 2) + -167px) 0 auto;
}

.u-section-2 .u-slider-1 {
  min-height: 480px;
  width: 763px;
  height: auto;
  margin: -1020px auto 60px calc(((100% - 1140px) / 2) + 189px);
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-2 .u-group-elements-1 {
  width: 534px;
  min-height: 599px;
  margin: 15px auto 0;
}

.u-section-2 .u-image-1 {
  width: 495px;
  height: 495px;
  background-image: url("images/492c39e7-d0da-8c34-5061-a4f3a9f49bf5.jpg");
  background-position: 50% 50%;
  margin: 0 1px 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 25px auto 0 138px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-2 .u-group-elements-2 {
  width: 534px;
  min-height: 599px;
  margin: 14px auto 0;
}

.u-section-2 .u-image-2 {
  width: 495px;
  height: 495px;
  background-image: url("images/202f7246-cc4b-c364-7595-0948ab8d6755.jpg");
  background-position: 50% 50%;
  margin: 0 1px 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-2 .u-carousel-item-3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-2 .u-group-elements-3 {
  width: 534px;
  min-height: 599px;
  margin: 14px auto 0;
}

.u-section-2 .u-image-3 {
  width: 495px;
  height: 495px;
  background-image: url("images/cd52ab48ceef00b7db1d703786faa44b3eac5e77deb9a8531737c9c5073758b26f0b32ffe6cac4a5782af1fd44cf820f8bccf32874b3d37cd39430_1280.png");
  background-position: 50% 50%;
  margin: 0 1px 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 655px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 586px);
  }

  .u-section-2 .u-shape-2 {
    margin-right: calc(((100% - 940px) / 2) + -167px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 586px);
  }

  .u-section-2 .u-shape-2 {
    margin-right: calc(((100% - 720px) / 2) + -167px);
  }

  .u-section-2 .u-slider-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 691px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-shape-2 {
    margin-top: 523px;
    margin-right: calc(((100% - 540px) / 2) + -167px);
  }

  .u-section-2 .u-slider-1 {
    width: 540px;
    margin-top: -621px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-elements-3 {
    width: 520px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 715px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    margin-top: 547px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-slider-1 {
    min-height: 305px;
    width: 340px;
    margin-top: -663px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 320px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 320px;
  }

  .u-section-2 .u-group-elements-3 {
    width: 320px;
  }
}
